//
//  generator.xcconfig
//  MovieEnvoy
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "all.xcconfig"

TMDB_API_KEY = "68b13770194a73ff218ee6fae1f2c488"
APPLICATION_NAME = MovieEnvoy
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(ENVIRONMENT_PREPROCESSOR) APPLICATION_NAME='$(APPLICATION_NAME)' TMDB_BASE_URL_DEFINE='$(TMDB_SERVER_URL)' TMDB_IMAGE_URL_DEFINE='$(TMDB_IMAGE_URL)'
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) ENVIRONMENT_NAME_DEFINE='$(ENVIRONMENT_NAME)' TMDB_API_KEY_DEFINE='$(TMDB_API_KEY)'
PRODUCT_NAME = $(APPLICATION_NAME)$(ENVIRONMENT_NAME)
VERSION_NUMBER = 2.0.0;
BUILD_NUMBRER = development-1;
VERSION_BUILD_NUMBER = $(VERSION_NUMBER).$(BUILD_NUMBER)
